<main>
    <section class="section section-lg section-shaped">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <br>
    
        <br>
        
        <div class="container">
          
          <div class="row py-3 align-items-center">
          <h1 class="heading-title  mb-7" style="text-align: center;">Welcome {{form.username}} !</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
              <button class="btn btn-block btn-primary mb-3" (click)="validation()" >
               Create Project
              </button>
            </div>
        
            <div class="col-md-6">
              <button class="btn btn-block btn-warning mb-3 " (click)="historique()">
                 Historique
              </button>
              
            </div>
        
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
      
  </main>
